---
const personalImageAlt = "Josue Ruiz"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/avataaars.svg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/josue-ruiz-b01945196/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Josué
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
     <strong>
      Estudiante de Ingeniería en Sistemas Computacionales
      </strong
    >. Con conocimientos en desarrollo web en lenguajes como PHP (Laravel) y Python (Django). Con conociemiento en el desarrollo de aplicaciones móviles android haciendo uso de Kotlin y Jetpack Compose
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:josueru444@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/josue-ruiz-b01945196/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
